.about
	position absolute
	z-index 10
	top 5rem
	left 5rem
	width 36rem
	max-width 100%
	font-size 1.5rem
	line-height 2em
	
	&__title
		font-family $Moderat-Bold
	
	&__name
		color $indigo
		
	&__job
		color $grey-dark
		
	&__intro
		
		a
			position relative
			display inline-block
			underline()
					
			span
				position relative
				display inline-block
				
				&:after
					content ''
					position absolute
					z-index 1
					bottom 0.2rem
					right 0
					width 100%
					height 0.1rem
					background rgba($indigo, 0.25)
	
	&__projects
		margin-top 4rem
		
	&__list
		list-style-type none
		
	&__list-item
		display flex
		align-items center
		
		> a
			position relative
			display inline-block
			underline()
			
		&--confidential
			cursor default
			&:after
				content '(confidential)'
				margin-left 0.5rem
				font-size 1.2rem
				color rgba($grey, 0.75)
				transform translateX(-1rem)
				opacity 0
				transition transform 0.25s ease-out, opacity 0.25s ease-out
				
			&:hover
				
				&:after
					transform translateX(0)
					opacity 1
				
		&:before 
			content ''
			display block
			width 0.5rem
			height 0.5rem
			margin-right 1rem
			background $indigo

	@media (max-width: $desktop)
		position static
		width 60rem
		padding 0 2rem
		
		&__title
			margin-bottom 0.5rem
			line-height 1.5em
			text-transform uppercase
			
		&__name, &__job
			display block
		
		&__projects
			margin-top 3rem
			
	@media (max-width: $mobile)		
		&__intro
			br 
				display none
		

	