.about
	position absolute
	z-index 10
	top 5rem
	left 5rem
	width 36rem
	font-size 1.5rem
	line-height 2em
	
	&__name
		color $indigo
		
	&__job
		color $grey-dark
		
	&__intro
		
		a
			position relative
			display inline-block
			
			&:before
				content ''
				display block
				position absolute
				z-index 1
				bottom 0.2rem
				left 0
				width 0
				height 0.1rem
				transition width 0s ease, background .2s ease-out
				
			&:after
				content ''
				position absolute
				z-index 2
				bottom 0.2rem
				right 0
				width 0
				height 0.1rem
				background $indigo
				overflow hidden
				transition width .2s ease-out
					
			&:hover
				&:before
					width 100%
					background $indigo
					transition width .2s ease-out
					
				&:after
					width 100%
					background transparent
					transition all 0s ease-out
	
	&__projects
		margin-top 4rem
		
	&__list
		list-style-type none
		
	&__list-item
		
		display flex
		align-items center
		
		> a
			position relative
			display inline-block
			
			&:before
				content ''
				display block
				position absolute
				z-index 1
				bottom 0.2rem
				left 0
				width 0
				height 0.1rem
				transition width 0s ease, background .2s ease-out
				
			&:after
				content ''
				position absolute
				z-index 2
				bottom 0.2rem
				right 0
				width 0
				height 0.1rem
				background $indigo
				overflow hidden
				transition width .2s ease-out
					
			&:hover
				&:before
					width 100%
					background $indigo
					transition width .2s ease-out
					
				&:after
					width 100%
					background transparent
					transition all 0s ease-out
			
		&:before 
			content ''
			display block
			width 0.5rem
			height 0.5rem
			margin-right 1rem
			background $indigo
	
	@media (max-width: 992px)
		position static
		width 100%
		
		&__projects
			margin-top 3rem
			
	@media (max-width: 480px)		
		&__intro
			br 
				display none
		

	