.projects-mobile
	display none
	width 100%
	max-width 100%
	margin 10rem 0
	font-size 1.5rem
	line-height 2em

	&__project
		& + .projects-mobile__project
			margin-top 5rem

	&__thumbnail
		display block
		padding 0 2rem
		img
			display block
			height auto
			width 100%
			max-width 100%

	&__header
		display flex
		flex-direction row
		justify-content space-between
		align-items flex-start
		margin-top 2rem
		padding 0 2rem

	&__title
		font-family $Moderat-Bold
		font-size 2.9rem
		color $black

		time
			display block
			margin-top 0.2rem
			font-size 1.5rem
			font-family $Moderat

	&__btn-more
		position relative
		display inline-block
		padding 0.2rem 0 0.5rem 0
		font-size 1.1rem
		font-family $Moderat-Bold
		text-transform uppercase
		color $indigo
		underline()

		&:after, &:before
			bottom 0

		span
			position relative
			display inline-block

			&:after
				content ''
				position absolute
				z-index 1
				bottom -0.5rem
				right 0
				width 100%
				height 0.1rem
				background rgba($indigo, 0.25)

	&__infos
		height 0
		padding 0 2rem
		overflow hidden

	&__description
		margin 3rem 0 2.5rem 0

	&__tags-list
		margin-bottom 5rem
		list-style-type none

	&__btn-cta
		display block
		width 17.5rem
		height 5rem
		margin-bottom 5rem
		text-align center
		line-height 5rem
		font-size 1.2rem
		text-transform uppercase
		color $white
		background $indigo

	@media (max-width: $desktop)
		display block

	@media (max-width: $mobile)
		&__thumbnail
			padding 0