.projects
	position absolute
	top 0
	left 50vw
	width 50vw
	height 100vh
	
	&__titles
		position absolute
		top -2.5rem
		left -18rem
		z-index 3
		display flex
		flex-direction column
		justify-content center
		height 100vh
		color $black
		
	&__title
		position relative
		margin-bottom 1rem
		font-family $Moderat-Bold
		font-size 10rem
		
		&:first-child
			margin-left 7rem
		
		&:last-child
			margin-bottom 0	
			
		time 
			display inline-block
			margin-left 1.5rem
			vertical-align 5.7rem
			font-family $Moderat
			font-size 2rem
			
	&__underline
		position absolute
		top 17rem
		left 15rem
		display block
		width 17rem
		height 2rem
		background $indigo
		pointer-events none
		overflow hidden
	
	&__visuals
		position relative
		z-index 2
		width 25vw
		height 100vh
		overflow hidden
		will-change width
		
	&__visual
		position absolute
		z-index 1
		width 25vw
		height 100vh
		background url('http://lorempicsum.com/simpsons/500/1920/2') center
		background-size cover
		opacity 0.25
		
	&__tags
		position absolute 
		top 50vh
		left calc(25vw + 6rem)
		display none
		flex-direction column
		justify-content center
		height 50vh
		font-family $Moderat
		font-size 1.5rem
		line-height 2em
		
	&__tags-list
		list-style-type none
		
	&__tags-list-item
		position relative
		
		&:first-child
			
			&:before
				content ''
				position absolute 
				z-index -1
				top -0.4rem
				left -1.2rem
				display block
				height 2rem
				width 2rem
				background $grey-light
		
	@media (max-width: $desktop)
		display none