.projects
	position absolute
	top 0
	left 50vw
	width 50vw
	height 100vh
	font-family $Moderat
	
	&__titles
		position absolute
		top -4.5rem
		left -27.5rem
		z-index 3
		display flex
		flex-direction column
		justify-content center
		height 100vh
		color $black
		
	&__title
		position relative
		font-family $Moderat-Bold
		font-size 14.5rem
		
		&:first-child
			margin-left 9.8rem
			
		time 
			display inline-block
			margin-left 1.5rem
			vertical-align 9rem
			font-family $Moderat
			font-size 2rem
			
	&__underlines
		position absolute
		display block
		top 24rem
		left 22rem
		
	&__underline
		position absolute
		top 0 
		left 0
		display block
		width 25.5rem
		height 2rem
		background $indigo
		pointer-events none
		overflow hidden
		
		&--first
			background $indigo-light
			
		&--second
			background $indigo
	
	&__visuals
		position relative
		z-index 2
		width 25vw
		height 100vh
		overflow hidden
		//will-change width
	
		
	&__visual
		position absolute
		z-index 1
		width 25vw
		height 100vh
		 
		&--video
			z-index 2
			video 
				position relative
				width 100%
				height 100vh
				object-fit cover
				
			&:after
				content ''
				position absolute 
				top 0
				right 0
				bottom 0
				left 0
				width 25vw
				background $white
				opacity 0.4
				
		&--first
			background url('https://scontent-mad1-1.xx.fbcdn.net/v/t1.0-9/10457780_10208453134435700_329554564766679855_n.jpg?oh=2da0f225efc77092987af8eac0198e92&oe=57E09895') center no-repeat
			background-size cover

		&--second
			background url('https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/13007178_10209482466768365_4627002473293561965_n.jpg?oh=590b61c2a83ef0a0c3ef47d05837f0ed&oe=57AF9FB5') center no-repeat
			background-size cover
			
	&__descriptions
		position absolute 
		top 6rem
		width calc(20vw)
		left calc(25vw + 6rem)
		font-family $Moderat
		font-size 1.5rem
		line-height 2em
			
	&__description
		position absolute
		display none
		width 80%
		list-style-type none
			
	&__tags
		display none
		position absolute 
		top 50vh
		left calc(25vw + 6rem)
		font-family $Moderat
		font-size 1.5rem
		line-height 2em
		
	&__tags-list
		position absolute
		list-style-type none
		
	&__tags-list-item
		position relative
		white-space nowrap
		
		&:first-of-type
			
			&:before
				content ''
				position absolute 
				z-index -1
				top -0.4rem
				left -1.2rem
				display block
				height 2rem
				width 2rem
				background $grey-light
				
	@media (max-width: $desktop-large)
		&__titles
			top -2.5rem
			left -19.2rem
			
		&__title
			font-size 10rem
			
			time
				vertical-align 5.7rem
			
			&:first-child
				margin-left 6.8rem
			
		&__underlines
			top 17rem
			left 16.2rem
				
		&__underline
			width 17rem
		
	@media (max-width: $desktop)
		display none