.social
	position absolute
	z-index 10
	bottom 5rem
	left 5rem
	font-size 1.5rem
	line-height 2em
	
	&__list
		display flex
		flex-direction row
		align-items center
		
	&__list-item
		margin-right 1.5rem
		
		&:last-child
			margin-right 0
			
		> a 
			position relative
			display inline-block
			underline()
					
	@media (max-width: $desktop)
		position static