underline()
	&:before
		content ''
		display block
		position absolute
		z-index 2
		bottom 0.2rem
		left 0
		width 0
		height 0.1rem
		transition width 0s ease, background .25s ease-out
		
	&:after
		content ''
		position absolute
		z-index 3
		bottom 0.2rem
		right 0
		width 0
		height 0.1rem
		background $indigo
		overflow hidden
		transition width .25s ease-out
			
	&:hover
		&:before
			width 100%
			background $indigo
			transition width .25s ease-out
			
		&:after
			width 100%
			background transparent
			transition all 0s ease-out