/*
 * Colors
 */
 $white = #ffffff
 $black = #2e2e2e
 $grey-dark = #323232
 $grey = #666666
 $grey-light = #e7e7e7
 $indigo = #536dfe
 
 /*
 * Typography
 */
 $Moderat = 'Moderat', Helvetica, Arial, sans-serif
 $Moderat-Bold = 'Moderat Bold', Helvetica, Arial, sans-serif